# Ignore node_modules in client folder
client/node_modules/
client/.env

# Ignore node_modules in server folder
server/node_modules/

server/dist
server/dist/*
server/dist/apps/auth
server/.env
server